<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            </div>
            <div class="content">
                <div class="welcomemat">
                    {{ content }}
                </div>
            </div>
            </div>
        </div> <!-- /container -->
        <div class="bg">
            <img src="/images/farmhouse_bg.jpg" alt="blurred photo of a ramshackle farmhouse with the sun shining behind it.  Purdy, ain't it?">
        </div>
    </body>
    <script src="/app/components/skrollr/dist/skrollr.min.js"></script>
</html>
